@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil:opsz,wght@10..72,100..900&family=Moon+Dance&display=swap');
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

/* Hide scrollbar for Chrome, Safari and Edge */
::-webkit-scrollbar {
  display: none;
}

html,
body {
  min-height: 100vh;
  font-family: 'Moon Dance', cursive;
  font-optical-sizing: auto;
  font-style: normal;
  cursor: none;
  color: black;
  background: linear-gradient(180deg, #ffffff, #f3f3f3);
  overflow-x: hidden;
}

main {
  justify-content: center;
  flex-direction: column;
}

section {
  height: 100vh;
  width: 100vw;
  display: grid;
  place-content: center;
}

.hero {
  height: 100vh;
  display: flex !important;
  justify-content: space-around;
  flex-direction: column;
  overflow: hidden;
  padding: 5rem;
  background-image: url('../../../../../Downloads/programming-hero-background.svg');
}

.hero-text-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 600px;
  gap: 1rem;
}

.hero h1 {
  font-size: 3rem;
}

.hero h2 {
  font-style: italic;
  font-size: 2rem;
}

.vertical-line {
  background-color: black;
  width: 1px;
  height: 10rem;
}

.hero-img {
  width: 300px;
}

.hero-container {
  display: flex;
  justify-content: space-between;
}

.three-words {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.hero-word {
  font-size: 2rem;
  font-weight: bold;
}

.hero-word:nth-child(1) {
  color: blue;
}

.hero-word:nth-child(3) {
  color: green;
}

.hero-word:nth-child(2) {
  color: red;
}

.about-section {
  padding: 5rem;
  height: auto;
  background-color: #f8f3d9;
}

.about {
  text-align: justify;
  font-size: 1.5rem;
}

.keyword {
  color: red;
  display: inline-block;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1rem;
}

.path {
  stroke: black;
}

.skills {
  display: flex;
  justify-content: center;
  height: 100vh;
}

.about-title {
  font-size: 3rem;
  text-align: center;
  padding: 1rem 0;
  background-color: #f8f3d9;
}

.skills-title {
  font-size: 3rem;
  text-align: center;
  padding: 1rem 0;
}

.projects-title {
  font-size: 10rem;
  text-align: center;
  z-index: 2;
  position: relative;
  top: 10%;
}

.projects {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5rem;
  margin-top: 20vh;
  background-color: #f8f3d9;
  padding-bottom: 5rem;
}

/* Target odd-numbered project items */
.projects .project:nth-child(odd) {
  align-self: flex-start; /* Align odd items to the left */
  text-align: left; /* Align text to the left */
}

/* Target even-numbered project items */
.projects .project:nth-child(even) {
  align-self: flex-end; /* Align even items to the right */
  text-align: right; /* Align text to the right */
}

.project {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  max-width: 1000px;
  border: 1px solid #e0d5b8; /* Softer warm beige border */
  padding: 1rem;
  border-radius: 8px; /* Slightly smoother corners */
  gap: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fffaf0; /* Warm, soft ivory for gentle contrast */
  color: #5a4d3f; /* Muted brown for readability and elegance */
  height: auto;
}

.project:nth-child(even) .project-content h1 {
  text-align: left;
}

.project-content {
  display: flex;
}

.project:nth-child(even) {
  flex-direction: row-reverse;
}

.project p {
  flex-grow: 1;
  font-style: italic;
  text-align: justify;
  margin: 0.5rem 0;
}

.project img {
  width: 50%;
  object-fit: cover;
  border-radius: 4px;
}

.project a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 1.2rem;
  background-color: #f8f3d9;
  margin-top: auto;
  display: inline-block;
  padding: 0.5rem 1rem;
  border: 1px solid #ababab;
}

.project-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.project-links {
  margin-top: auto; /* Pushes the links to the bottom */
  display: flex;
  justify-content: space-between;
}

.pre-projects {
  height: 100vh;
  display: flex;
}
.box {
  width: 300px; /* Initial size */
  height: 300px; /* Initial size */
  background-color: #f8f3d9;
  transform: rotate(45deg);
  margin: auto;
}

@media only screen and (max-width: 768px) {
  .project {
    flex-direction: column;
  }
  .project:nth-child(even) {
    flex-direction: column;
  }
  .project img {
    width: 100%;
  }
  .three-words {
    display: none;
  }
  .hero {
    padding: 1rem;
  }
  .hero-img {
    display: none;
  }
  .hero-container {
    justify-content: center;
  }

  .about-section {
    padding: 1rem;
  }
  .about {
    font-size: 1rem;
  }
  .keyword {
    font-size: 0.7rem;
  }
}

@media screen and (max-width: 550px) {
  .hero h1 {
    font-size: 1.8rem;
  }
  .hero h2 {
    font-size: 1.5rem;
  }

  .project p {
    font-size: 0.7rem;
  }
  .project h1 {
    font-size: 1rem;
  }

  .projects {
    padding: 1rem;
  }

  .cursor {
    display: none;
  }
}

.thank-you-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.thank-you {
  text-align: center;
  font-size: 4rem;
  font-weight: bold;
  margin-top: 20px;
}

.smiley {
  width: 100px;
  height: 100px;
  stroke: black;
  stroke-width: 2;
  fill: none;
}

.smiley-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
